* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

/* Font-Size */
/* Colors */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.logo {
  width: 30%;
}

/* Hover of principal options in navbar, footer, icons and logo */
.text-light:hover {
  border: 1px solid red;
  border-radius: 10px;
}

.navbar {
  background-image: url(../img/Fondo/Abstract_Background_02-05.jpg);
  padding: 0;
  width: 100%;
}

/* Invisible texto */
figcaption {
  display: none;
  transition: all 0.5s;
}

/* Visible texto */
figure:hover > figcaption {
  display: block;
  transition: all 0.5s;
}

/* Carousel Adjustment */
.carousel-item {
  height: 55vh;
  background: none;
}
.carousel-item img {
  width: 50%;
  height: 100%;
  border-radius: 10px;
}

h1 {
  color: rgb(0, 0, 0) !important;
  text-align: center;
  width: 50vh;
}

/* Footer Styles*/
.navbar li a i {
  margin: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.icons-footer {
  display: flex;
}

/* Grid Practice in page Alquiler, Compra and Venta */
.grid-section-ventas {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  gap: 50px;
}

.grid-home-options {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  margin: 50px;
}

.carrusel {
  width: 100%;
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Animations in Ventas page */
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.card:hover {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 992px) {
  .navbar-toggler {
    margin: 10px;
  }
  .grid-section-ventas {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    gap: 50px;
  }
  .grid-home-options {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    margin: 50px;
  }
  .carrusel {
    width: 100%;
    height: 100%;
  }
  .items-footer {
    margin: 20px;
  }
}
@media (max-width: 576px) {
  .navbar-toggler {
    margin: 10px;
  }
  .grid-section-ventas {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    gap: 30px;
  }
  .grid-home-options {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    margin: 30px;
  }
  .carrusel {
    width: 100%;
    height: 100%;
  }
  .items-footer {
    margin: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
