@import "./partials/reset";
@import "./partials/variable.scss";


// Menu
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 35%;
  cursor: pointer;
  margin: 5%;
}

div {
  ul {
    li {
      list-style: none;
      display: inline-block;
      position: relative;
      margin: 15px 0px;

      a {
        text-decoration: none;
        font-weight: bold;
        font-size: $normal;
        color: $txt-footer;

        &:hover{
          transition: all 0.3s;
          border: 1px solid orangered;
        }
      }
    }
  }
}

// Options of Footer
ul {
  li {
    a {
      text-decoration: none;
      font-family: sans-serif;
      font-size: $medium;
      border-radius: 10px;
      padding: 20px 40px;

      &:hover{
        transition: all 0.3s;
        border: 1px solid orangered;
      }
    }
    
  }
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  font-size: $medium;

  img {
    width: 35%;
    border-radius: 10px;
  }

  p {
    width: 30%;
    padding: 100px;
  }
}

// Grid Practice

.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 20px;

  img {
    width: 200px;
    height: auto;
  }
}

// Footer
.container-footer {
  display: block;
  flex-direction: row;
  justify-content: space-around;
}

.justify-content-center{
  margin: 15px 0px;
}

.item-footer {
  li {
    ul {
      a {
        text-decoration: none;
        color: var(--txt-color);
      }
    }
  }
}

// Nosotros
.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 50%);
  grid-gap: 10px;
  align-items: center;

  img {
    width: 20%;
  }
}

// Alquiler
.navbar-expand-lg {
  .navbar-nav {
    font-size: 30px;
    font-weight: bold;
    gap: 100px;
  }
}

// Formulario Nosotros
h1 {
  margin: 10px;
}

.contact-wrapper {
  > * {
    padding: 2%;
  }
}

.contact-form {
  justify-items: center;
  align-items: center;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;

    label {
      margin: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 20px;
    }

    input, select {
      border: 1px solid red;
      border-radius: 10px;
      margin-left: 25px;
      width: 100%;
      font-size: 15px;
    }

    .select_option {
      margin: 0px 10px;
    }

    form,
    p{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    textarea{
      border: 1px solid red;
      border-radius: 10px;
      margin-left: 15px;
    }

    form button{
      color: white;
      width: 30%;
      text-transform: uppercase;
      margin-top: 5%;
    }

    form button,
    form input,
    form textarea {
      padding: .7em;
      border: none;
    }
  }
}

// Section of Ventas
.grid-section-ventas{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  gap: 50px;
  margin: 50px 0;
}

// Responsive Design
@media(max-width:992px){
  .grid-section-ventas{
  display: grid;
  grid-template-columns: auto auto;
  }
  
  .contact-form form{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  }
}

@media(max-width:576px){
  .grid-section-ventas{
  display: grid;
  grid-template-columns: auto;
  }

  .gallery-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-size: 40px;
  }
}
