/* Font-Size */

$big: 4rem;
$medium: 2rem;
$normal: 1.7rem;
$small: 0.75rem;

/* Colors */

$txt-menu: rgb(55, 50, 147);
$txt-hover-enlaces: rgb(241, 106, 68);
$txt-footer: rgb(0, 0, 0);
$txt-home: rgb(75, 69, 192);
$txt-card: rgb(75, 69, 192);
$txt-label-input: rgb(0, 0, 0);
$txt-experiencias: rgb(75, 69, 192);
